$primary: hsl(210, 13%, 50%);
$primary-light: hsl(210, 13%, 70%);
$primary-dark: hsl(210, 50%, 20%);
$secondary: hsl(8, 97%, 65%);
$secondary-light: hsl(8, 100%, 74%);
$secondary-dark: hsl(8, 77%, 40%);
$text-on-primary: #fff;
$text-on-secondary: #000;

